@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color:  #551A8B;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 0 2rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color:  #551A8B;
}

nav ul li a:hover{
    font-family: 'Raleway', sans-serif;
    border-bottom:2px solid #551A8B;
    padding-bottom: 0.1rem;
}

.main-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-around;   
}

.main-article{
    width: 40%;
    padding: 0 2rem;
}

.main-article h1{
    font-family: 'Raleway', sans-serif;
    color: #551A8B;
    font-size: 3rem;
    text-align: center;
}

form{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-article form input{
    width: 23rem;
    height: 2.5rem;
    margin-top:1rem;
    padding-left: 1.5rem;
}

.main-article form .message{
    width: 23rem;
    height: 4rem;
    margin-top:1rem;   
}

.main-article form .submit-btn{
    background-color: #551A8B;
    color: #f7f7f7;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    padding: 0;
}

.main-article form .submit-btn:hover{
    cursor: pointer;
    color: #551A8B;
    background-color: #f7f7f7;
    border: 1px solid #551A8B;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

footer ul{
    display: flex;
    list-style: none;

}

footer ul li{
    padding: 0 2rem;
    color: #551A8B;
}

.social-media{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.6rem;
}